//responsive design
$phone: 0px;
$tablet: 768px;
$desktop: 1024px;

//colors
$perfectBlack: #262c31;
$blueWhite: #edf2f4;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/october-crow?styles=18073');
@import url('https://fonts.cdnfonts.com/css/bloodlust?styles=85048');
@import url('https://fonts.cdnfonts.com/css/linux-libertine-o?styles=30056');

$lato: 'Lato';
$montserrat: 'Montserrat';
$octobercrow: 'October Crow';
$bloodlust: 'Bloodlust';
$linuxlibertineo: 'Linux Libertine O';


*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}


/*
    TO DO:
    - make new section
    - repair pagination
*/

body{
    height: 100vh;
    width: 100vw;

    background: #000;

    display: flexbox;

    font-size: 14px;
    color: hsl(212, 19%, 19%);
    font-family: $lato;

    overflow-x: hidden;


    .head-section{
      height: 100vh;
      width: 100vw;

      background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1)), url('../../images/wallpapers/section-head-background-two.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      .navbar{
        position: relative;

        width: 100vw;
        height: auto;

        overflow: hidden;

        display: flex;

        background: transparent;

        .navbar-brand{
          cursor: pointer;

          font-family: $octobercrow;
          font-weight: 900;
          font-size: clamp(1.5em, 5vw, 3em);
          letter-spacing: 2px;

          display: flex;
          justify-content: center;
          align-items: center;

          color: red;

          margin-left: 4%;
          margin-top: .5rem;
        }

        #burger{display: none;}
        .burger{
          margin-top: clamp(1rem, 5vw, 2%);
          margin-right: 4%;

          margin-left: auto;

          display: block;

          width: clamp(25px, 10vw, 30px);

          cursor: pointer;

          z-index: 1001;

          .slash{
            border-radius: 365px;

            margin-bottom: clamp(.3rem, 5vw, .4rem);

            width: 100%;
            height: clamp(3px, 5vw, 4px);

            background: red;
          }
        }

        .hamburger-menu{
          height: 100vh;
          width: 100vw;

          background: #333;

          z-index: 1000;

          position: fixed;
          top: 0;
          left: -100vw;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          padding: 0;
          margin: 0;

          transition: left .4s;
          

          ul{
            padding: 0;
            margin: 0;

            transition: top .65s;

           a{
            text-decoration: none;

            color: red;
            font-family: $linuxlibertineo;
            font-size: 2.7em;

            margin: 0;
            padding: 0;

            li{
              margin: 0;
              padding: 0;

              display: flex;
              justify-content: center;
              align-items: center;

              width: 100vw;

              margin-bottom: .5rem;

              transition: background .25s;
            }

            li:hover{
              background: #252525;
            }
           }

          }

          .social{
            cursor: default;

            bottom: 0;
            position: absolute;
            
            height: 4rem;
            width: 100vw;

            background: #252525;
            color: red;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 2em;

            transition: height .65s;

            ul{
              height: 100%;
              width: 100%;

              display: flex;
              justify-content: center;
              align-items: center;

              margin-left: .5rem;

              li{
                margin-right: 2rem;

                display: flex;
                justify-content: center;
                align-items: center;

                height: 100%;

                a{
                  position: relative;
                  top: .2rem;

                  font-size: 1.5em;
                }
              }
            }
          }

          @media (max-height: 400px) {
            ul{
              position: relative;
              top: -1rem;

              a{
                font-size: 2.5em;
              }
            }

            .social{
              ul li a{
                top: 1.3rem;
              }
            }

            @media (max-height: 320px) {
              ul{
                a{
                  font-size: 2em;
                }
              }

              .social{
                height: 3rem;

                font-size: 1.75em;
              }
            }
          }
  
        }

        @media (min-width: $tablet) {
         .burger, .hamburger-menu{display: none;} 
        }
        
        .navbar-links{
          display: flex;
          justify-content: center;
          align-items: center;

          margin-right: .25rem;
          margin-top: -.5rem;

          ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            li{
              margin-right: 1rem;
              
              display: flex;
              justify-content: center;
              align-items: center;

              a{
                position: relative;
                top: 1rem;

                font-family: $bloodlust;

                color: red;

                font-size: clamp(2em, 4vw, 2.8em);
              }
            }
          }
        }

        @media (min-width: $desktop) {
          .navbar-links{margin-right: 4%;}
        }

        @media (max-width: 767px) {
          .navbar-links{display: none;}
        }
      }

      .head-section-content{
        display: flex;
        justify-content: center;
        align-items: center;
  
        height: 100vh;
        width: 100vw;

        overflow: hidden;

        position: relative;
        top: -5rem;
  
        .box-container{
          position: relative;
          top: -1rem;
          left: 1rem;
  
          display: flexbox;

          transition: top .65s;
  
          .my-image{
            display: flex;
            justify-content: center;
  
            max-height: 475px;
            max-width: 425px;
            height: auto;
            width: auto;

            transition: max-height .65s, max-width .65s;
  
            .my-image-img{
              height: 95%;
              width: 95%;

              position: relative;
              left: -.5rem;
  
              filter: grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(0.8);
            }
          }
  
          .text{
            color: #e61919;
  
            font-family: $linuxlibertineo;
            font-size: clamp(2em, 10vw, 2.5em);
  
            position: relative;
            top: 1rem;
            left: -1rem;
  
            cursor: default;
  
            span{
              position: relative;
              top: clamp(-1rem, 10vw, -3rem);
            }
          }

          @media (min-width: $desktop) {
            .my-image{
              margin-left: 1.5rem;

              max-height: 525px;
              max-width: 475px;
            }
          }
        }

        @media (max-height: 800px) {
          .box-container{
            position: relative;
            top: 1rem;
          }
        }

        .social-links{
          position: absolute;
          left: 4%;
          bottom: 4%;

          color: red;

          display: flex;
          align-items: center;
          justify-content: center;

          ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
              margin-right: 2rem;
              a{
                font-size: 3em;

                color: red;
              }
            }

          }
        } 

        @media (max-width: $tablet) {
          .social-links{display: none;}
        }

        @media (min-width: 767px) {
          .social-links{display: flex;}
        }

        @media (max-height: 690px) {
          .box-container{top: 1.5rem;}

          @media (max-height: 650px) {
            .box-container{ 
              .my-image{
                max-height: 475px;
                max-width: 425px;
              }
          }
          }

          @media (max-height: 590px) {
            .box-container{
              top: 1.5rem;
              
              .my-image{
              max-height: 400px;
              max-width: 350px;
              }

              .text{
                font-size: 2em;
              }
          }
          }

          @media (max-height: 500px) {
            .box-container{
              top: 2rem;
              
              .my-image{
              max-height: 300px;
              max-width: 250px;
              }

              .text{font-size: 2em;}
          }
          }

          @media (max-height: 410px) {
            .box-container{
              top: 1.5rem;

              .my-image{
                max-height: 200px;
                max-width: 175px;

                display: flex;
                margin-left: auto;
                margin-right: auto;
              }

              .text{font-size: 1.5em;}
              .text span{top: -.7rem;}
            }
          }

          @media (max-height: 320px) {
            .box-container{
              top: 2rem;

              .text{display: none;}

            }
          }
        }

        @media (min-width: $tablet) {
          .box-container{
            display: flex;

            .my-image{
              position: relative;
              left: 2rem;
            }

            .text{
              font-size: 3em;
              top: 9rem;
              left: 1rem;
            }

          }

          @media (max-height: 590px) {
            .box-container{
              .text{
                top: 5rem;
              }
            }

            @media (max-height: 490px) {
              .box-container{
                .text{
                  top: 4rem;
                }
              }
            }

            @media (max-height: 410px) {
              .box-container{
                .text{
                  top: 1.5rem;
                }
              }
            }
          }
        }

        @media (min-width: $desktop) {
          .box-container{
            .text{
              top: 9.5rem;
              font-size: clamp(3em, 10vw, 3.75em);
            }
          }

          @media (max-height: 650px) {
            .box-container{
              .text{
                top: 8rem;
                font-size: 3.5em;
              }
            }

            @media (max-height: 600px) {
              .box-container{
                .text{
                  top: 6rem;
                  font-size: 3em;
                }
              }

              @media (max-height: 500px) {
                .box-container{
                  .text{
                    top: 4rem;
                    font-size: 2.5em;
                  }
                }

                @media (max-height: 410px) {
                  .box-container{
                    .text{
                      top: 1em;
                    }
                  }
                }
              }
            }
          }
        }
      }
    } 

    .body-sections{
      height: auto;
      width: 100vw;

      display: flexbox;
      background-color: #000;

      .blog_slider-section{
        margin-top: 10rem;

        height: 35rem;
        width: 100%;

        display: flex;
        justify-content: center;

        .splide{
          width: 80%;
          max-width: 1536px;

          .splide__arrows{
            position: relative;
            top: 13rem;

            .splide__arrow{

              .arrow-icon{
                color: red;
                font-size: 40px;
              }
              .arrow-icon-first{
                position: relative;
                right: 4rem;
              }
              .arrow-icon-last{
                margin-left: 8rem;
              }

            }
          }
          @media (max-width: 1330px) {
            .splide__arrows{
              top: 9.5rem;
            }

            @media (max-width: 768px) {
              .splide__arrows{
                display: none;
              }
            }
          }
          .splide__track{

            .splide__list{

              .splide__slide{
                border: 5px solid red;

                height: 400px !important;
                min-width: 300px !important;
              }

              @media (max-width: 1330px) {
                .splide__slide{
                  height: 300px !important;
                  min-width: 250px !important;
                }

                @media (max-width: 768px) {
                  .splide__slide{
                    height: 250px !important;
                    min-width: 0px !important;
                    width: 200px !important;
                  }
                }
              }

            }

          }
          div .splide__pagination{
            z-index: 100;

            .splide__pagination__page{
              background: red;

              position: relative;
              top: .07rem;

              width: 30px;
              height: 7px;
            }
          }
        }
        @media (max-width: 1220px) {
          .splide{
            width: 60%;
            min-width: 732px;
          }

          @media (max-width: 768px) {
            .splide{
              width: 100%;
              max-width: 300px;
            }
          }
        }
      }
      @media (max-width: 1220px) {
        .blog_slider-section{
          height: 30rem;
        }

        @media (max-width: 768px) {
          .blog_slider-section{
            margin-top: 2rem;

            height: 25rem;
          }
  
          @media (max-width: 400px) {
            .blog_slider-section{
              height: 26rem;
            }
          }
        }
      }
    }


}


