@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.cdnfonts.com/css/october-crow?styles=18073");
@import url("https://fonts.cdnfonts.com/css/bloodlust?styles=85048");
@import url("https://fonts.cdnfonts.com/css/linux-libertine-o?styles=30056");
@import url("https://fonts.cdnfonts.com/css/requiem-ii?styles=41639");
@import url("https://fonts.cdnfonts.com/css/beauty?styles=21781");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

/*
    TO DO:
    - minimize images weight
    - fix social links hover effect
    - and maybe add some changes to social links
    - add more slides ( six slides )
    - add images to all slides
    - clean the code ( splide )
*/
body {
  height: 100vh;
  width: 100vw;
  background: #000;
  display: flexbox;
  font-size: 14px;
  color: #27303a;
  font-family: "Lato";
  overflow-x: hidden;
}
body .head-section {
  height: 100vh;
  width: 100vw;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(black)), url("../../images/wallpapers/section-head-background-two.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), black), url("../../images/wallpapers/section-head-background-two.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .head-section .navbar {
  position: relative;
  width: 100vw;
  height: auto;
  overflow: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}
body .head-section .navbar .navbar-brand {
  cursor: pointer;
  font-family: "October Crow";
  font-weight: 900;
  font-size: clamp(1.5em, 5vw, 3em);
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
  margin-left: 4%;
  margin-top: 0.5rem;
}
body .head-section .navbar #burger {
  display: none;
}
body .head-section .navbar .burger {
  margin-top: clamp(1rem, 5vw, 2%);
  margin-right: 4%;
  margin-left: auto;
  display: block;
  width: clamp(25px, 10vw, 30px);
  cursor: pointer;
  z-index: 1001;
}
body .head-section .navbar .burger .slash {
  border-radius: 365px;
  margin-bottom: clamp(.3rem, 5vw, .4rem);
  width: 100%;
  height: clamp(3px, 5vw, 4px);
  background: red;
}
body .head-section .navbar .hamburger-menu {
  background: #eee;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 100vw;
  height: 0;
  position: absolute;
  top: 4.75rem;
  left: 0;
  padding: 0px 0;
}
body .head-section .navbar .hamburger-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  list-style: none;
  width: 98%;
}
body .head-section .navbar .hamburger-menu ul a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  text-decoration: none;
}
body .head-section .navbar .hamburger-menu ul a li {
  font-family: "Linux Libertine O";
  color: red;
  font-size: 1.25em;
}
@media (max-width: 300px) {
  body .head-section .navbar .hamburger-menu ul {
    display: block;
  }
}
@media (min-width: 768px) {
  body .head-section .navbar .burger, body .head-section .navbar .hamburger-menu {
    display: none !important;
  }
}
body .head-section .navbar .navbar-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0.25rem;
  margin-top: -1rem;
}
body .head-section .navbar .navbar-links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .head-section .navbar .navbar-links ul li {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .head-section .navbar .navbar-links ul li a {
  position: relative;
  top: 1rem;
  font-family: "Requiem II", sans-serif;
  color: red;
  font-size: clamp(2em, 4vw, 2.8em);
}
@media (min-width: 1024px) {
  body .head-section .navbar .navbar-links {
    margin-right: 4%;
  }
}
@media (max-width: 767px) {
  body .head-section .navbar .navbar-links {
    display: none;
  }
}
@media (min-width: 768px) {
  body .head-section .navbar {
    background: transparent !important;
  }
}
body .head-section .head-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  top: -5rem;
}
body .head-section .head-section-content .box-container {
  position: relative;
  top: -1rem;
  left: 1rem;
  display: flexbox;
  -webkit-transition: top 0.65s;
  transition: top 0.65s;
}
body .head-section .head-section-content .box-container .my-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 475px;
  max-width: 425px;
  height: auto;
  width: auto;
  -webkit-transition: max-height 0.65s, max-width 0.65s;
  transition: max-height 0.65s, max-width 0.65s;
}
body .head-section .head-section-content .box-container .my-image .my-image-img {
  height: 95%;
  width: 95%;
  position: relative;
  left: -0.5rem;
  -webkit-filter: grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(0.8);
          filter: grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(0.8);
}
body .head-section .head-section-content .box-container .text {
  color: #e61919;
  font-family: "Linux Libertine O";
  font-size: clamp(2em, 10vw, 2.5em);
  position: relative;
  top: 1rem;
  left: -1rem;
  cursor: default;
}
body .head-section .head-section-content .box-container .text span {
  position: relative;
  top: clamp(-1rem, 10vw, -3rem);
}
@media (min-width: 1024px) {
  body .head-section .head-section-content .box-container .my-image {
    margin-left: 1.5rem;
    max-height: 525px;
    max-width: 475px;
  }
}
body .head-section .head-section-content .social-links {
  position: absolute;
  bottom: 1%;
  left: 5%;
  color: red;
  display: block;
  height: auto;
  width: auto;
}
body .head-section .head-section-content .social-links ul {
  display: block;
  width: 100%;
}
body .head-section .head-section-content .social-links ul li {
  width: 3.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
body .head-section .head-section-content .social-links ul li a {
  font-size: 3em;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
body .head-section .head-section-content .social-links ul li a i {
  position: relative;
  left: -0.5rem;
}
@media (max-height: 800px) {
  body .head-section .head-section-content .box-container {
    top: 1rem;
  }
}
@media (max-height: 800px) and (max-height: 795px) {
  body .head-section .head-section-content .social-links {
    width: 5rem;
    left: 2.5%;
  }
  body .head-section .head-section-content .social-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .head-section .head-section-content .social-links ul li {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 1.25rem;
    margin-top: 0;
  }
}
@media (max-height: 800px) and (max-height: 690px) {
  body .head-section .head-section-content .box-container {
    top: 1.5rem;
  }
}
@media (max-height: 800px) and (max-height: 690px) and (max-height: 650px) {
  body .head-section .head-section-content .box-container .my-image {
    max-height: 475px;
    max-width: 425px;
  }
}
@media (max-height: 800px) and (max-height: 650px) {
  body .head-section .head-section-content .box-container {
    top: -0.5rem;
  }
  body .head-section .head-section-content .social-links ul li {
    margin-top: 0;
    margin-bottom: 0.75rem;
  }
  body .head-section .head-section-content .social-links ul li a {
    font-size: 2.5em;
  }
}
@media (max-height: 800px) and (max-height: 590px) {
  body .head-section .head-section-content .box-container {
    top: 1.5rem;
  }
  body .head-section .head-section-content .box-container .my-image {
    max-height: 400px;
    max-width: 350px;
  }
  body .head-section .head-section-content .box-container .text {
    font-size: 2em;
  }
}
@media (max-height: 800px) and (max-height: 575px) {
  body .head-section .head-section-content .box-container {
    top: 0.5rem;
  }
}
@media (max-height: 800px) and (max-height: 545px) {
  body .head-section .head-section-content .box-container {
    top: 2rem;
  }
  body .head-section .head-section-content .box-container .my-image {
    max-height: 300px;
    max-width: 250px;
  }
  body .head-section .head-section-content .box-container .text {
    font-size: 2em;
  }
  body .head-section .head-section-content .social-links {
    width: 2.5rem;
    left: auto;
  }
  body .head-section .head-section-content .social-links ul {
    display: block;
  }
  body .head-section .head-section-content .social-links ul li {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}
@media (max-height: 800px) and (max-height: 410px) {
  body .head-section .head-section-content .box-container {
    top: 1.5rem;
  }
  body .head-section .head-section-content .box-container .my-image {
    max-height: 200px;
    max-width: 175px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }
  body .head-section .head-section-content .box-container .text {
    font-size: 1.5em;
  }
  body .head-section .head-section-content .box-container .text span {
    top: -0.7rem;
  }
}
@media (max-height: 800px) and (max-height: 320px) {
  body .head-section .head-section-content .box-container {
    top: 2rem;
  }
  body .head-section .head-section-content .box-container .text {
    display: none;
  }
}
@media (min-width: 768px) {
  body .head-section .head-section-content .box-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .head-section .head-section-content .box-container .my-image {
    position: relative;
    left: 2rem;
  }
  body .head-section .head-section-content .box-container .text {
    font-size: 3em;
    top: 9rem;
    left: 1rem;
  }
  body .head-section .head-section-content .social-links {
    width: 10rem;
    left: 2.5%;
    bottom: 4%;
  }
  body .head-section .head-section-content .social-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  body .head-section .head-section-content .social-links ul li {
    margin-left: 0.3rem;
    margin-right: 0.3rem;
  }
  body .head-section .head-section-content .social-links ul li a {
    font-size: 3.5em;
  }
}
@media (min-width: 768px) and (max-height: 795px) {
  body .head-section .head-section-content .social-links {
    bottom: 5%;
  }
}
@media (min-width: 768px) and (max-height: 795px) and (max-height: 650px) {
  body .head-section .head-section-content .social-links {
    bottom: 10%;
  }
}
@media (min-width: 768px) and (max-height: 795px) and (max-height: 590px) {
  body .head-section .head-section-content .box-container .text {
    top: 5rem;
  }
}
@media (min-width: 768px) and (max-height: 795px) and (max-height: 590px) and (max-height: 490px) {
  body .head-section .head-section-content .box-container .text {
    top: 4rem;
  }
}
@media (min-width: 768px) and (max-height: 795px) and (max-height: 590px) and (max-height: 410px) {
  body .head-section .head-section-content .box-container .text {
    top: 1.5rem;
  }
}
@media (min-width: 768px) and (max-height: 795px) and (max-height: 350px) {
  body .head-section .head-section-content .social-links {
    bottom: 15%;
  }
}
@media (min-width: 1024px) {
  body .head-section .head-section-content .box-container .text {
    top: 9.5rem;
    font-size: clamp(3em, 10vw, 3.75em);
  }
  body .head-section .head-section-content .social-links ul li {
    margin-right: 2.5rem;
  }
  body .head-section .head-section-content .social-links ul li a {
    font-size: 3.5em;
  }
}
@media (min-width: 1024px) and (max-height: 650px) {
  body .head-section .head-section-content .box-container .text {
    top: 8rem;
    font-size: 3.5em;
  }
}
@media (min-width: 1024px) and (max-height: 650px) and (max-height: 600px) {
  body .head-section .head-section-content .box-container .text {
    top: 6rem;
    font-size: 3em;
  }
}
@media (min-width: 1024px) and (max-height: 650px) and (max-height: 600px) and (max-height: 500px) {
  body .head-section .head-section-content .box-container .text {
    top: 4rem;
    font-size: 2.5em;
  }
}
@media (min-width: 1024px) and (max-height: 650px) and (max-height: 600px) and (max-height: 500px) and (max-height: 410px) {
  body .head-section .head-section-content .box-container .text {
    top: 1em;
  }
}
body .body-sections {
  height: auto;
  width: 100vw;
  display: flexbox;
  background-color: #000;
}
body .body-sections .blog_slider-section {
  margin-top: 10rem;
  height: 35rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .body-sections .blog_slider-section .splide {
  width: 80%;
  max-width: 1536px;
}
body .body-sections .blog_slider-section .splide .splide__arrows {
  position: relative;
  top: 13rem;
}
body .body-sections .blog_slider-section .splide .splide__arrows .splide__arrow .arrow-icon {
  color: red;
  font-size: 40px;
}
body .body-sections .blog_slider-section .splide .splide__arrows .splide__arrow .arrow-icon-first {
  position: relative;
  right: 4rem;
}
body .body-sections .blog_slider-section .splide .splide__arrows .splide__arrow .arrow-icon-last {
  margin-left: 8rem;
}
@media (max-width: 1330px) {
  body .body-sections .blog_slider-section .splide .splide__arrows {
    top: 9.5rem;
  }
}
@media (max-width: 1330px) and (max-width: 768px) {
  body .body-sections .blog_slider-section .splide .splide__arrows {
    display: none;
  }
}
body .body-sections .blog_slider-section .splide .splide__track .splide__list .splide__slide {
  border: 5px solid red;
  height: 400px !important;
  min-width: 300px !important;
}
@media (max-width: 1330px) {
  body .body-sections .blog_slider-section .splide .splide__track .splide__list .splide__slide {
    height: 300px !important;
    min-width: 250px !important;
  }
}
@media (max-width: 1330px) and (max-width: 768px) {
  body .body-sections .blog_slider-section .splide .splide__track .splide__list .splide__slide {
    height: 250px !important;
    min-width: 0px !important;
    width: 200px !important;
  }
}
body .body-sections .blog_slider-section .splide div .splide__pagination {
  z-index: 100;
}
body .body-sections .blog_slider-section .splide div .splide__pagination .splide__pagination__page {
  background: red;
  position: relative;
  top: 0.075rem;
  width: 30px;
  height: 7px;
}
@media (max-width: 1220px) {
  body .body-sections .blog_slider-section .splide {
    width: 60%;
    min-width: 732px;
  }
}
@media (max-width: 1220px) and (max-width: 768px) {
  body .body-sections .blog_slider-section .splide {
    width: 100%;
    max-width: 300px;
  }
}
@media (max-width: 1220px) {
  body .body-sections .blog_slider-section {
    height: 30rem;
  }
}
@media (max-width: 1220px) and (max-width: 768px) {
  body .body-sections .blog_slider-section {
    margin-top: 2rem;
    height: 25rem;
  }
}
@media (max-width: 1220px) and (max-width: 768px) and (max-width: 400px) {
  body .body-sections .blog_slider-section {
    height: 26rem;
  }
}
body .body-sections .blog_proceed-section {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  margin-bottom: 10rem;
}
body .body-sections .blog_proceed-section .first-section {
  width: 40rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  cursor: default;
}
body .body-sections .blog_proceed-section .first-section .text-container {
  width: 100%;
  height: 100%;
  text-align: center;
}
body .body-sections .blog_proceed-section .first-section .text-container h1 {
  font-size: 4em;
  font-family: "Linux Libertine O";
  color: red;
  text-transform: uppercase;
}
body .body-sections .blog_proceed-section .second-section {
  width: 25rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: auto;
}
body .body-sections .blog_proceed-section .second-section .btn-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .body-sections .blog_proceed-section .second-section .btn-container .btn {
  display: inline-block;
  height: 4rem;
  width: 12rem;
  border-radius: 5px;
  color: #700b0b;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: none;
}
body .body-sections .blog_proceed-section .second-section .btn-container .btn p {
  font-size: 2em;
  font-family: "Metal Mania", cursive;
}
body .body-sections .blog_proceed-section .second-section .btn-container .btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  border-radius: 5px;
  z-index: -2;
}
body .body-sections .blog_proceed-section .second-section .btn-container .btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #b30000;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
  border-radius: 5px;
  z-index: -1;
}
body .body-sections .blog_proceed-section .second-section .btn-container .btn:hover {
  color: #fff;
}
body .body-sections .blog_proceed-section .second-section .btn-container .btn:hover:before {
  width: 100%;
}
@media (max-width: 1400px) {
  body .body-sections .blog_proceed-section .first-section {
    width: 35rem;
  }
  body .body-sections .blog_proceed-section .second-section {
    width: 20rem;
  }
}
@media (max-width: 1400px) and (max-width: 1220px) {
  body .body-sections .blog_proceed-section .first-section {
    width: 31rem;
  }
  body .body-sections .blog_proceed-section .first-section .text-container .text {
    font-size: 3.5em;
  }
  body .body-sections .blog_proceed-section .second-section {
    width: 14rem;
  }
}
@media (max-width: 1400px) and (max-width: 768px) {
  body .body-sections .blog_proceed-section {
    display: block;
  }
  body .body-sections .blog_proceed-section .first-section {
    margin-right: auto;
    margin-bottom: 1rem;
  }
  body .body-sections .blog_proceed-section .first-section .text-container .text {
    font-size: 3em;
  }
  body .body-sections .blog_proceed-section .second-section {
    margin-left: auto;
  }
  body .body-sections .blog_proceed-section .first-section, body .body-sections .blog_proceed-section .second-section {
    width: 20rem;
  }
}
@media (max-width: 1400px) and (max-width: 768px) and (max-width: 320px) {
  body .body-sections .blog_proceed-section .first-section, body .body-sections .blog_proceed-section .second-section {
    width: 14rem;
  }
}
body .body-sections .about-section {
  height: auto;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15rem;
  margin-bottom: 15rem;
}
body .body-sections .about-section .image-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  min-height: 65rem;
  min-width: 55rem;
  max-height: 75rem;
  max-width: 65rem;
  overflow: hidden;
  border-radius: 3650px;
  position: relative;
  right: -5%;
  z-index: 1;
}
body .body-sections .about-section .image-circle img {
  width: 100%;
  height: 100%;
}
body .body-sections .about-section .about-content {
  z-index: 10;
  width: 50%;
  display: block;
  text-align: center;
  color: red;
  position: relative;
  left: 5%;
  cursor: default;
}
body .body-sections .about-section .about-content .header {
  width: 100%;
  max-width: 1000px;
  margin-top: 25rem;
}
body .body-sections .about-section .about-content .header h1 {
  font-family: "October Crow";
  font-size: 6em;
}
body .body-sections .about-section .about-content .content {
  margin-top: 1rem;
  width: 100%;
  max-width: 1000px;
  min-width: 25%;
}
body .body-sections .about-section .about-content .content p {
  font-size: 1.75em;
  font-family: "Requiem II", sans-serif;
}
@media (max-width: 1400px) {
  body .body-sections .about-section {
    margin-top: 1rem;
    margin-bottom: 5rem;
    left: 15%;
  }
  body .body-sections .about-section .image-circle {
    min-height: 65rem;
    min-width: 55rem;
    max-height: 75rem;
    max-width: 65rem;
    right: -20%;
  }
  body .body-sections .about-section .about-content .header {
    width: calc(100% + 5rem);
  }
  body .body-sections .about-section .about-content .content {
    width: calc(100% + 5rem);
  }
  body .body-sections .about-section .about-content .content p {
    font-size: 1.5em;
  }
}
@media (max-width: 1400px) and (max-width: 1023px) {
  body .body-sections .about-section {
    margin-top: -2rem;
  }
  body .body-sections .about-section .image-circle {
    min-height: 45rem;
    min-width: 35rem;
    height: 55rem;
    min-width: 45rem;
    right: -25%;
  }
  body .body-sections .about-section .about-content {
    width: 40%;
    left: 5%;
  }
  body .body-sections .about-section .about-content .header {
    margin-top: 17rem;
    width: calc(100% + 10rem);
  }
  body .body-sections .about-section .about-content .content {
    width: calc(100% + 10rem);
  }
}
@media (max-width: 1400px) and (max-width: 849px) {
  body .body-sections .about-section .image-circle {
    min-height: 35rem;
    min-width: 30rem;
    height: 55rem;
    min-width: 40rem;
    right: -25%;
  }
  body .body-sections .about-section .about-content .header {
    font-size: 0.9em;
    margin-top: 17rem;
    width: calc(100% + 10rem);
  }
  body .body-sections .about-section .about-content .content {
    font-size: 1em;
    width: calc(100% + 10rem);
  }
}
@media (max-width: 1400px) and (max-width: 767px) {
  body .body-sections .about-section {
    margin-top: 17.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .body-sections .about-section .image-circle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    right: 50%;
    top: -10rem;
    min-height: 55rem;
    min-width: 45rem;
    max-height: 0;
    max-width: 0;
  }
  body .body-sections .about-section .image-circle img {
    -webkit-filter: grayscale(100%) brightness(40%);
            filter: grayscale(100%) brightness(40%);
  }
  body .body-sections .about-section .about-content {
    position: relative;
    left: 22.5rem;
    width: 100vw;
    height: 50vh;
    text-align: center;
  }
  body .body-sections .about-section .about-content .header {
    width: 100vw;
    margin-top: -10rem;
  }
  body .body-sections .about-section .about-content .content {
    margin-left: auto;
    margin-right: auto;
    width: 100vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }
}
body .foot-section .content {
  height: 15rem;
  background: #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .foot-section .content .is-centered {
  width: 60rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: -2.5rem;
  height: 15rem;
  padding-right: 2rem;
}
body .foot-section .content .is-centered .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .foot-section .content .is-centered .links::before {
  content: "";
  background: red;
  margin-right: 1rem;
  padding-left: 7.5rem;
  padding-top: 0.25rem;
  border-radius: 365px;
}
body .foot-section .content .is-centered .links::after {
  content: "";
  background: red;
  margin-left: 1rem;
  padding-left: 7.5rem;
  padding-top: 0.25rem;
  border-radius: 365px;
}
body .foot-section .content .is-centered .links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}
body .foot-section .content .is-centered .links li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Requiem II", sans-serif;
  color: red;
  font-size: 2em;
}
body .foot-section .content .is-centered .links li:first-child {
  position: relative;
  top: 1.5px;
}
body .foot-section .content .is-centered .social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}
body .foot-section .content .is-centered .social::before {
  content: "";
  background: red;
  position: relative;
  top: -0.2rem;
  margin-right: 1rem;
  padding-left: 7.5rem;
  padding-top: 0.25rem;
  border-radius: 365px;
}
body .foot-section .content .is-centered .social::after {
  content: "";
  background: red;
  position: relative;
  left: 1rem;
  top: -0.2rem;
  margin-left: 1rem;
  padding-left: 7.5rem;
  padding-top: 0.25rem;
  border-radius: 365px;
}
body .foot-section .content .is-centered .social li {
  margin-left: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
body .foot-section .content .is-centered .social li a {
  text-decoration: none;
  text-transform: uppercase;
  font-family: "Requiem II", sans-serif;
  color: red;
  font-size: 3em;
}
body .foot-section .content .is-centered .social li a:last-child {
  font-size: 3.1em;
}
body .foot-section .content .is-centered .social li:last-child {
  position: relative;
  top: -1px;
}
body .foot-section .content .is-centered .signature {
  cursor: default;
  position: relative;
  top: 2.5rem;
}
body .foot-section .content .is-centered .signature h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.5em;
}
body .foot-section .content .is-centered .signature h1 span {
  font-size: 1.75em;
  font-family: "Beauty", sans-serif;
}
@media (max-width: 955px) {
  body .foot-section .content .is-centered {
    top: -1rem;
    width: 60rem;
  }
  body .foot-section .content .is-centered .links li a {
    font-size: 1.5em;
  }
  body .foot-section .content .is-centered .social li a {
    font-size: 2.5em;
  }
  body .foot-section .content .is-centered .signature h1 span {
    font-size: 1.5em;
  }
}
@media (max-width: 955px) and (max-width: 830px) {
  body .foot-section .content .is-centered .links li {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}
@media (max-width: 955px) and (max-width: 767px) {
  body .foot-section .content .is-centered .links::before {
    padding-left: 5rem;
  }
  body .foot-section .content .is-centered .links::after {
    padding-left: 5rem;
  }
  body .foot-section .content .is-centered .social::before {
    padding-left: 5rem;
  }
  body .foot-section .content .is-centered .social::after {
    padding-left: 5rem;
  }
}
@media (max-width: 955px) and (max-width: 767px) and (max-width: 688px) {
  body .foot-section .content .is-centered {
    top: 0;
  }
  body .foot-section .content .is-centered .links::before {
    padding-left: 2.5rem;
  }
  body .foot-section .content .is-centered .links::after {
    padding-left: 2.5rem;
  }
  body .foot-section .content .is-centered .social::before {
    padding-left: 2.5rem;
  }
  body .foot-section .content .is-centered .social::after {
    padding-left: 2.5rem;
  }
  body .foot-section .content .is-centered .social li a {
    font-size: 2.5em;
  }
  body .foot-section .content .is-centered .social li a:last-child {
    font-size: 2.6em;
  }
}
@media (max-width: 955px) and (max-width: 767px) and (max-width: 601px) {
  body .foot-section .content .is-centered {
    width: 100vw;
    top: -0.5rem;
  }
  body .foot-section .content .is-centered .links {
    position: relative;
    left: -0.5rem;
    width: 100%;
  }
  body .foot-section .content .is-centered .links::before {
    padding-left: 0rem;
    padding-top: 0;
  }
  body .foot-section .content .is-centered .links::after {
    padding-top: 0;
    padding-left: 0rem;
  }
  body .foot-section .content .is-centered .social::before {
    padding-top: 0;
    padding-left: 0rem;
  }
  body .foot-section .content .is-centered .social::after {
    padding-top: 0;
    padding-left: 0rem;
  }
  body .foot-section .content .is-centered .social li {
    margin-left: 0.75rem;
    margin-right: 0.75rem;
  }
}
@media (max-width: 955px) and (max-width: 767px) and (max-width: 505px) {
  body .foot-section .content .is-centered .links li a {
    font-size: 1.25em;
  }
  body .foot-section .content .is-centered .social li a {
    font-size: 2.25em;
  }
  body .foot-section .content .is-centered .social li a:last-child {
    font-size: 2.26em;
  }
}
@media (max-width: 955px) and (max-width: 767px) and (max-width: 433px) {
  body .foot-section .content .is-centered {
    height: 10rem;
  }
  body .foot-section .content .is-centered .links li {
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  body .foot-section .content .is-centered .links li a {
    font-size: 1em;
  }
  body .foot-section .content .is-centered .social li {
    margin-left: 0.45rem;
    margin-right: 0.45rem;
  }
  body .foot-section .content .is-centered .social li a {
    font-size: 2em;
  }
  body .foot-section .content .is-centered .social li a:last-child {
    font-size: 2.1em;
  }
  body .foot-section .content .is-centered .signature {
    top: 1rem;
  }
  body .foot-section .content .is-centered .signature h1 {
    position: relative;
    left: 0.5rem;
    font-size: 1em;
  }
  body .foot-section .content .is-centered .signature h1 span {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=Home.css.map */