//responsive design
$phone: 0px;
$tablet: 700px;
$desktop: 1024px;

//colors
$perfectBlack: #262c31;
$blueWhite: #edf2f4;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/october-crow?styles=18073');
@import url('https://fonts.cdnfonts.com/css/bloodlust?styles=85048');

$lato: 'Lato';
$montserrat: 'Montserrat';
$octobercrow: 'October Crow';
$bloodlust: 'Bloodlust';


*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}



body{
    width: 100vw;
    height: 100vh;

    display: flexbox;

    font-size: 14px;
    color: hsl(212, 19%, 19%);
    font-family: $lato;

    overflow-x: hidden;



    .head-section{
      height: 100vh;

      overflow: hidden;

      background-color: hsl(193, 9%, 19%);
      background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1)), url('../../images/wallpapers/background-section-head.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      //background-image: linear-gradient(180deg, hsl(193, 9%, 19%) 0%, hsl(0, 0%, 0%) 74%);

      .navbar{
        position: absolute;
        top: 0;

        width: 100vw;
        height: 5rem;

        overflow: hidden;

        display: flex;

        background: transparent;

        .navbar-brand{
          cursor: pointer;

          font-family: $octobercrow;
          font-weight: 900;
          font-size: 1.5em;
          letter-spacing: 2px;

          display: flex;
          align-items: center;

          color: red;

          .icon{
            color: red;

            font-size: 1.2em;
          }
        }

        .burger{
          position: relative;
          top: .15rem;
          right: 5%;

          margin-left: auto;

          display: block;

          width: 25px;

          cursor: pointer;

          .slash{
            border-radius: 365px;

            margin-bottom: .3rem;

            width: 100%;
            height: 3px;

            background: red;
          }
        }
      }

      .head-section-content{
        display: flex;
        justify-content: center;
        align-items: center;
  
        height: 100vh;
        width: 100vw;

        overflow: hidden;
  
        .box-container{
          position: relative;
          top: -1rem;
  
          display: flexbox;
  
          .my-image{
            display: flex;
            justify-content: center;
  
            max-height: 475px;
            max-width: 425px;
            height: auto;
            width: auto;
  
            .my-image-img{
              height: 95%;
              width: 95%;

              position: relative;
              left: -.5rem;
  
              -webkit-filter: invert(40%) grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(2);
              filter: grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(0.8);
            }
          }
  
          .text{
            color: #e61919;
  
            font-family: $bloodlust;
            font-size: 2.5em;
  
            position: relative;
            top: 1rem;
            left: -1rem;
  
            cursor: default;
  
            span{
              position: relative;
              top: -1.5rem;
            }
          }
        }
      }
    }  

}
