//responsive design
$phone: 0px;
$tablet: 768px;
$desktop: 1024px;

//colors
$perfectBlack: #262c31;
$blueWhite: #edf2f4;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.cdnfonts.com/css/october-crow?styles=18073');
@import url('https://fonts.cdnfonts.com/css/bloodlust?styles=85048');
@import url('http://fonts.cdnfonts.com/css/linux-libertine-o?styles=30056');

$lato: 'Lato';
$montserrat: 'Montserrat';
$octobercrow: 'October Crow';
$bloodlust: 'Bloodlust';
$linuxlibertineo: 'Linux Libertine O';


*{
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*
    CHANGE
     - change view of .box-container on phone
     - change view of .box-container on tablet
     - add line to social links 
*/

body{
    height: 100vh;
    width: 100vw;

    background: hsl(193, 9%, 19%);

    display: flexbox;

    font-size: 14px;
    color: hsl(212, 19%, 19%);
    font-family: $lato;

    overflow-x: hidden;


    .head-section{
      height: 100vh;
      width: 100vw;

      background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 1)), url('../../images/wallpapers/section-head-background-two.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      //background-image: linear-gradient(180deg, hsl(193, 9%, 19%) 0%, hsl(0, 0%, 0%) 74%);

      .navbar{
        position: absolute;
        top: 0;

        width: 100vw;
        height: auto;

        overflow: hidden;

        display: flex;

        background: transparent;

        .navbar-brand{
          cursor: pointer;

          font-family: $octobercrow;
          font-weight: 900;
          font-size: clamp(1.5em, 5vw, 3em);
          //font-size: 1.5em;
          letter-spacing: 2px;

          display: flex;
          justify-content: center;
          align-items: center;

          color: red;

          margin-left: 4%;
          margin-top: .5rem;
        }

        #burger{display: none;}
        .burger{
          margin-top: clamp(1rem, 5vw, 2%);
          margin-right: 4%;

          margin-left: auto;

          display: block;

          width: clamp(25px, 10vw, 30px);

          cursor: pointer;

          z-index: 1001;

          .slash{
            border-radius: 365px;

            margin-bottom: clamp(.3rem, 5vw, .4rem);

            width: 100%;
            height: clamp(3px, 5vw, 4px);

            background: red;
          }
        }

        .hamburger-menu{
          height: 100vh;
          width: 100vw;

          background: #333;

          z-index: 1000;

          position: fixed;
          top: 0;
          left: -100vw;

          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;

          padding: 0;
          margin: 0;

          transition: left .4s;
          

          ul{
            padding: 0;
            margin: 0;

            transition: top .65s;

           a{
            text-decoration: none;

            color: red;
            font-family: $bloodlust;
            font-size: 3em;

            margin: 0;
            padding: 0;

            li{
              margin: 0;
              padding: 0;

              display: flex;
              justify-content: center;
              align-items: center;

              width: 100vw;

              margin-bottom: .5rem;

              transition: background .25s;
            }

            li:hover{
              background: #252525;
            }
           }

          }

          @media (max-height: 400px) {
            ul{
              position: relative;
              top: -1rem;

              a{
                font-size: 2.5em;
              }
            }

            @media (max-height: 320px) {
              ul{
                a{
                  font-size: 2em;
                }
              }
            }
          }

          .social{
            cursor: default;

            bottom: 0;
            position: absolute;
            
            height: 4rem;
            width: 100vw;

            background: #252525;
            color: red;

            display: flex;
            justify-content: center;
            align-items: center;

            font-size: 2em;

            transition: height .65s;

            ul{
              height: 100%;
              width: 100%;
              display: flex;
              justify-content: center;
              align-items: center;

              li{
                margin-right: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                a{
                  position: relative;
                  top: .8rem;
                  font-size: 1.5em;
                }
              }
            }
          }

          @media (max-height: 320px) {
              .social{
                height: 3rem;

                font-size: 1.75em;
              }
          }
  
        }

        @media (min-width: $tablet) {
         .burger, .hamburger-menu{display: none;} 
        }
        
        .navbar-links{
          display: flex;
          justify-content: center;
          align-items: center;

          margin-right: .25rem;
          margin-top: -.5rem;

          ul{
            display: flex;
            justify-content: space-between;
            align-items: center;

            li{
              margin-right: 1rem;
              
              display: flex;
              justify-content: center;
              align-items: center;

              a{
                position: relative;
                top: 1rem;
                font-family: $bloodlust;
                color: red;
                font-size: clamp(2em, 4vw, 2.8em);
              }
            }
          }
        }

        @media (max-width: 767px) {
          .navbar-links{display: none;}
        }
      }

      .head-section-content{
        display: flex;
        justify-content: center;
        align-items: center;
  
        height: 100vh;
        width: 100vw;

        overflow: hidden;
  
        .box-container{
          position: relative;
          top: -1rem;
          left: 1rem;
  
          display: flexbox;

          transition: top .65s;
  
          .my-image{
            display: flex;
            justify-content: center;
  
            max-height: 475px;
            max-width: 425px;
            height: auto;
            width: auto;

            transition: max-height .65s, max-width .65s;
  
            .my-image-img{
              height: 95%;
              width: 95%;

              position: relative;
              left: -.5rem;
  
              -webkit-filter: invert(40%) grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(2);
              filter: grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(0.8);
            }
          }
  
          .text{
            color: #e61919;
  
            font-family: $linuxlibertineo;
            font-size: clamp(2.5em, 10vw, 3.5em);
  
            position: relative;
            top: 1rem;
            left: -1rem;
  
            cursor: default;
  
            span{
              position: relative;
              top: clamp(-1.5rem, 10vw, -3rem);
            }
          }
        }

        .social-links{
          position: absolute;
          left: 2rem;
          bottom: 1rem;
          color: red;
          display: flex;
          align-items: center;
          justify-content: center;

          ul{
            display: flex;
            justify-content: center;
            align-items: center;

            li{
              margin-right: 2rem;
              a{
                font-size: 3em;
                color: red;
              }
            }
          }
        } 

        @media (max-width: $tablet) {
          .social-links{display: none;}
        }

        @media (min-width: 767px) {
          .social-links{display: flex;}
        }

        @media (max-height: 690px) {
          .box-container{top: 5rem;}

          @media (max-height: 590px) {
            .box-container{
              top: 3rem;
              
              .my-image{
              max-height: 400px;
              max-width: 350px;
              }
          }
          }

          @media (max-height: 500px) {
            .box-container{
              top: 2.5rem;
              
              .my-image{
              max-height: 300px;
              max-width: 250px;
              }

              .text{font-size: 2.2em;}
          }
          }

          @media (max-height: 400px) {
            .box-container{

              .my-image{
                max-height: 200px;
                max-width: 175px;
              }

              .text{font-size: 2em;}
            }
          }

          @media (max-height: 320px) {
            .box-container{
              top: 2rem;

              .text{display: none;}

            }
          }
        }

        @media (min-width: $tablet) {
          .box-container{
            display: flex;

            .my-image{
              position: relative;
              left: 3rem;
            }

            .text{
              font-size: 3.5em;
              top: 8rem;
            }

            .text::after{
              content: '';
              background: red;
              color: red;
              height: 60px;
              width: 2px;
              padding-left: .2rem;
              padding-bottom: 12rem;
              padding-top: 10rem;
              position: relative;
              top: -3rem;
              left: 5rem;
            }
          }
        }
      }
    } 

}
