@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url("https://fonts.cdnfonts.com/css/october-crow?styles=18073");
@import url("https://fonts.cdnfonts.com/css/bloodlust?styles=85048");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  width: 100vw;
  height: 100vh;
  display: flexbox;
  font-size: 14px;
  color: #27303a;
  font-family: "Lato";
  overflow-x: hidden;
}
body .head-section {
  height: 100vh;
  overflow: hidden;
  background-color: #2c3335;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(black)), url("../../images/wallpapers/section-head-background-two.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0.5), black), url("../../images/wallpapers/section-head-background-two.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
body .head-section .navbar {
  position: absolute;
  top: 0;
  width: 100vw;
  height: 5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: transparent;
}
body .head-section .navbar .navbar-brand {
  cursor: pointer;
  font-family: "October Crow";
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: red;
}
body .head-section .navbar .navbar-brand .icon {
  color: red;
  font-size: 1.2em;
}
body .head-section .navbar .burger {
  position: relative;
  top: 0.15rem;
  right: 5%;
  margin-left: auto;
  display: block;
  width: 25px;
  cursor: pointer;
  z-index: 1001;
}
body .head-section .navbar .burger .slash {
  border-radius: 365px;
  margin-bottom: 0.3rem;
  width: 100%;
  height: 3px;
  background: red;
}
body .head-section .navbar .hamburger-menu {
  height: 100vh;
  width: 100vw;
  background: #333;
  z-index: 1000;
  position: fixed;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 0;
  margin: 0;
}
body .head-section .navbar .hamburger-menu ul {
  padding: 0;
  margin: 0;
}
body .head-section .navbar .hamburger-menu ul a {
  text-decoration: none;
  color: red;
  font-family: "Bloodlust";
  font-size: 3em;
  margin: 0;
  padding: 0;
}
body .head-section .navbar .hamburger-menu ul a li {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100vw;
  margin-bottom: 0.5rem;
  -webkit-transition: background 0.25s;
  transition: background 0.25s;
}
body .head-section .navbar .hamburger-menu ul a li:hover {
  background: #252525;
}
body .head-section .navbar .hamburger-menu .social {
  cursor: default;
  bottom: 0;
  position: absolute;
  height: 4rem;
  width: 100vw;
  background: #252525;
  color: red;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
}
body .head-section .head-section-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
body .head-section .head-section-content .box-container {
  position: relative;
  top: -1rem;
  display: flexbox;
}
body .head-section .head-section-content .box-container .my-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-height: 475px;
  max-width: 425px;
  height: auto;
  width: auto;
}
body .head-section .head-section-content .box-container .my-image .my-image-img {
  height: 95%;
  width: 95%;
  position: relative;
  left: -0.5rem;
  -webkit-filter: invert(40%) grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(2);
  filter: grayscale(0%) brightness(100%) sepia(100%) hue-rotate(-50deg) saturate(3500%) contrast(0.8);
}
body .head-section .head-section-content .box-container .text {
  color: #e61919;
  font-family: "Bloodlust";
  font-size: 2.5em;
  position: relative;
  top: 1rem;
  left: -1rem;
  cursor: default;
}
body .head-section .head-section-content .box-container .text span {
  position: relative;
  top: -1.5rem;
}/*# sourceMappingURL=Home.css.map */